.evolution {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
  }

  &__info {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 326px;

    &:first-child {
      margin-right: 106px;
    }
  }

  &__title {
    @extend %stratos;
    text-transform: lowercase;
    font-size: 30px;
    margin-bottom: 24px;
    @include clamp(1);
  }

  &__text {
    margin-bottom: 50px;

    p {
      @include clamp(6);
    }
  }

  &__link {
    margin-left: auto;
  }
}