.evolution {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
  }

  &__info {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:first-child {
      margin-right: 106px;
    }
  }

  &__title {
    @extend %stratos;
    text-transform: lowercase;
    font-size: 30px;
    margin-bottom: 24px;
  }

  &__text {
    max-width: 326px;
    margin-bottom: 50px;
  }

  &__link {
    margin-left: auto;
  }
}