.header {
  &__inner {
    display: flex;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 130px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__list {
    display: flex;
  }

  &__item {
    text-transform: lowercase;
    margin-left: 40px;
    transition: opacity 0.3s;
  }

  &__aside {
    display: flex;
  }


  &__aside-contact {
    margin-right: 40px;
  }
}